body {
    font-family: 'poppins', sans-serif;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0.33) 100%), url(../img/background1.png), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar-dekstop {
    display: flex;
    padding-top: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar-mobile {
    display: none;
}

/* Media query untuk tampilan mobile */
@media only screen and (max-width: 768px) {
    .navbar-dekstop {
      display: none; /* Sembunyikan navbar desktop ketika tampilan mobile */
    }

    .navbar-mobile {
        display: flex;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        margin-top: 20px;
    }

    .nav-content {
        display: flex;
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        overflow: hidden;
    }

    .logo-mobile {
        font-weight: bold;
        font-size: 32px;
        color: white;
        text-decoration: none;
        justify-content: start;
    }

    #navlink {
        display: none;
    }

    #navlink a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: flex;
        width: auto;
    }

    .openButtonsidebar {
        width: 100%;
        justify-content: end;
        display: flex;
    }

    .sidebar-button {
        display: flex;
        align-items: center;
    }

    #sidebar {
        height: 100%; /* Specify a height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #378EC8;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    }

    #sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
      }

    .bar-icon {
        width: 32px;
        height: 32px;
        text-decoration: none;
        color: white;
        display: flex;
    }
  }

.navbar-dekstop .logo {
    font-weight: bold;
    font-size: 32px;
    color: white;
    justify-content: start;
}

.navbar-dekstop ul {
    list-style-type: none;
    display: flex;
    margin: auto;
  }
  
.navbar-dekstop li {
    display: inline;
    margin: 5px;
  }

.navbar-dekstop a{
    text-decoration: none;
    color: white;
    padding-inline: 20px;
}

a.nav-button:hover {
    text-decoration-line: underline;
    text-underline-offset: 4px;
    text-decoration-color: #378EC8;
    text-decoration-thickness: 3px;
}

.navbar-dekstop .login {
    background-color: #B6BAC1;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 45px;
    padding-left: 45px;
    font-size: 17px;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 30px;
}

.navbar-dekstop .register {
    background-color: #378EC8;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 45px;
    padding-left: 45px;
    font-size: 17px;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 30px;
}

.section1 {
    padding-left: 100px;
    padding-right: 100px;
    min-height: 100vh;
    display: flex;
    margin: auto;
    justify-content: center;
}

.section1 .container {
    min-height: 100%;
    justify-content: center;
    margin: auto;
}

.section1 .container .content {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}

.container-input {
    display: inline-block;
  }

.container-input #search {
    display: flex;
    margin: auto;
    width: 300px;
    height: 36px;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.svg-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    fill: #3C3C43;
    opacity: 0.6;
  }