body {
    font-family: 'poppins', sans-serif;
    margin: 0;
}

.berandaPage {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0.33) 100%), url(../img/background1.png), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbarDekstop {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.scrolled {
    background-color: rgba(37, 37, 37, 0.8);
}

.navbarMobile {
    display: none;
}

/* Media query untuk tampilan mobile */
@media only screen and (max-width: 768px) {
    .navbarDekstop {
      display: none; /* Sembunyikan navbar desktop ketika tampilan mobile */
    }

    .navbarMobile {
        display: flex;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: background-color 0.3s ease;
        z-index: 10;
    }

    .nav-content {
        display: flex;
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        overflow: hidden;
    }

    .logo-mobile {
        font-weight: bold;
        font-size: 32px;
        color: white;
        text-decoration: none;
        justify-content: start;
    }

    #navlink {
        display: none;
    }

    #navlink a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: flex;
        width: auto;
    }

    .openButtonsidebar {
        width: 100%;
        justify-content: end;
        display: flex;
    }

    .sidebar-button {
        display: flex;
        align-items: center;
    }

    #sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        background-color: #378EC8;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.7s;
    }

    #sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
        z-index: 10;
      }

    .bar-icon {
        width: 32px;
        height: 32px;
        text-decoration: none;
        color: white;
        display: flex;
    }
  }

.navbarDekstop .logo {
    font-weight: bold;
    font-size: 32px;
    color: white;
    width: 100%;
    padding-left: 100px;
}

.navlink-dekstop {
    width: 100%;
    justify-content: center;
}

.navlink-dekstop a {
    padding-inline: 20px;
}

.auth-dekstop {
    width: 100%;
    justify-content: end;
    padding-right: 100px;
    gap: 5px;
}

.navbarDekstop ul {
    list-style-type: none;
    display: flex;
    margin: auto;
  }
  
.navbarDekstop li {
    display: inline;
  }

.navbarDekstop a{
    text-decoration: none;
    color: white;
}

a.nav-button:hover {
    text-decoration-line: underline;
    text-underline-offset: 4px;
    text-decoration-color: #378EC8;
    text-decoration-thickness: 3px;
}

.navbarDekstop .login {
    background-color: #B6BAC1;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 45px;
    padding-left: 45px;
    font-size: 17px;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 30px;
}

.navbarDekstop .register {
    background-color: #378EC8;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 45px;
    padding-left: 45px;
    font-size: 17px;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 30px;
}

.section1 {
    padding-left: 100px;
    padding-right: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.section1 .container {
    min-height: 100%;
    justify-content: center;
    margin: auto;
}

.section1 .container .content {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}

.container-input {
    position: relative;
    display: inline-block;
    z-index: 1;
    width: 100%;
    margin: auto;
    justify-content: center;
  }

.container-input #search {
    display: flex;
    margin: auto;
    width: 300px;
    height: 36px;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.svg-icon {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    fill: #3C3C43;
    opacity: 0.6;
  }

/* Section Tempat wisata dan penginapan */
/* Dekstop Version */
.section2 {
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
    min-height: 100vh;
}

.headerHoliday .titleHoliday{
  color: #181E4B;
  font-size: 35px;
  font-weight: bolder;
}

.titleHolidayChild {
  color: #868686;
}

.card-container {
  display: flex;
  padding: 20px;
  overflow: scroll;
}

.carousel {
  display: flex;
  gap: 35px;
}

.card {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.containerImageCard {
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.containerTextCardImage {
  display: flex;
  margin-top: -6px;
  text-align: center;
  justify-content: center;
  background-color: #DF6951;
  font-size: 13px;
  padding: 10px;
  color: #fff;
}

.titleCard {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 35px;
  font-weight: bold;
  color: #181E4B;
}

.descCard {
  color: #181E4B;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
}

.footerCard {
  color: #181E4B;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
  margin-top: 20px;
}

.footerCard span {
  margin-left: 10px;
}



@media (max-width: 768px) {
  .section2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}


/* Login Css Style */
.loginPage {
    font-family: 'poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }

  .login-container h2 {
    text-align: center;
    color: #333;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group button {
    background-color: #378EC8;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  .form-group button:hover {
    background-color: #0056b3;
  }


/* Payment Page CSS */

.paymentBody {
    font-family: 'poppins', sans-serif;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0.33) 100%), url(../img/background1.png), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.paymentPage {
    margin-top: 180px;
    margin-bottom: 180px;
}

@media only screen and (max-width: 768px) {
    #paymentContainerMobile {
        margin: auto;
    }

    #paymentPageMobile {
        background-color: #fff;
        display: flex;
        margin: auto;
        justify-content: center;
    }

 }

.paymentContainer {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
  }

  .title {
    font-size: 20px;
    width: 100%;
    display: flex;
  }

  .title a {
    display: flex;
    margin: auto;
  }

  .title div {
    width: 100%;
  }

  .title div h2 {
    text-align: start;
    padding-left: 10px;
  }

  .titlePaymentMethod {
    font-weight: 500;
    font-size: 24px;
  }

  .payment-method label img {
    width: 85px; 
    height: 45px; 
  }

  .paymentContainer h2 {
    text-align: center;
    color: #333;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .containerPaymentMethod {
    display: flex;
    gap: 38px;
    margin-top: 20px;
  }
  
  .containerRadio {
    justify-content: center;
    margin: auto;
  }

  .containerPaymentMethod label {
    font-weight: 500;
    font-size: 20px;
    align-items: center;
    width: 100%;
  }

  .containerLogo {
    justify-content: center;
    margin: auto;
    width: 100%;
  }
  
  .containerRadio input[type="radio"] {
    width: 20px;
    height: 20px;
    justify-content: center;
    margin: auto;
  }

  label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .payment-method {
    display: flex;
    flex-direction: column;
  }

  .payment-method label {
    margin-bottom: 10px;
  }

  button {
    background-color: #378EC8;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }